[Desktop Entry]
Name=Pause Check
Name[sv]=Pauskollen
Comment=Visual timer and regulation exercises
Comment[sv]=Visuell timer och pausövningar
Exec=pauskollen
Icon=se.danielnylander.pauskollen
Type=Application
Categories=Education;Accessibility;
Keywords=timer;pause;adhd;regulation;break;
